<!DOCTYPE html>
<html lang="es">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="TheBridge">
    <meta name="description" content="Plantilla simple HTML5">

    <link rel="stylesheet" href="styles.css">
    <script defer src="../controller/scriptsQuiz.js"></script>
</head>
<body id="body">
    <!-- <button class="start">¿Preparad@?</button> -->
    <header id="header">
        <p id="p0"></p>
    </header>
    <main id="main">
        <img id="homer" src="../Data/the-simpsons-animated-gif-4.gif" alt="I´m walking on sunshine">
        <button id="btn0" class=""></button>
        <button id="btn1" class=""></button>
        <button id="btn2" class=""></button>
        <button id="btn3" class=""></button>
    </main>
</body>
</html>